{% extends "users/basic.html" %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container py-5 text-center">
  <div class="alert alert-success col-md-8 col-lg-6 mx-auto" role="alert">
    <h4 class="alert-heading"><i class="fas fa-check-circle mr-2"></i>Password Reset Complete</h4>
    <p>Your password has been set.</p>
    <hr>
    <p class="mb-0">You can now <a href="{% url 'login' %}" class="alert-link font-weight-bold">log in</a> with your new password.</p>
  </div>
</div>
{% endblock %}