{% extends "users/basic.html" %}
{% load static %}

{% block title %}Reset Link Sent{% endblock %}

{% block content %}
<div class="container py-5 text-center">
  <div class="alert alert-success col-md-8 col-lg-6 mx-auto" role="alert">
    <h4 class="alert-heading"><i class="fas fa-check-circle mr-2"></i>Reset Link Sent</h4>
    <p>We've emailed instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <hr>
    <p class="mb-0 small">If you don't receive an email, please check your spam folder or ensure you entered the correct address.</p>
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary mt-3">
      <i class="fas fa-home mr-1"></i> Return Home
  </a>
</div>
{% endblock %}